.navbar {
  background: rgba(10, 10, 10, 0.85);
  backdrop-filter: blur(6px);
  border-radius: 1px solid rgba(255, 255, 255, 0.05);

}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.navbar-logo img {
  height: 26px;
  width: auto;
}

.navbar-logo span {
  font-weight: 600;
  font-size: 16px;
}

/* RIGHT */
.navbar-links {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.nav-link-custom {
  color: #eee;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.85;
  transition: opacity 0.15s ease;
}

.nav-link-custom:hover {
  opacity: 1;
}
